build/compileshit.bat
build/bottools.ext.2.csgo/bottools.ext.2.csgo.exp
build/.ambuild2/vars
build/.ambuild2/test.cpp
build/.ambuild2/test.c
build/.ambuild2/graph
*.ipch
*.tlog
*.db
msvc12/Debug/
msvc12/Release/
*.smx
*.opendb
*.so
*.vcxproj
*.exp
*.sln
*.filters
